*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas: 
    'grid-item-1 grid-item-1 grid-item-1'
    'grid-item-2 grid-item-3 grid-item-4'
    'grid-item-2 grid-item-5 grid-item-5' ;
    height: 100vh;
    border: 10px solid rgb(109, 18, 18);
    gap: 10px;    
}
#grid-item-1{
    grid-area: grid-item-1;
    background-color: azure;
    transition: ease-in 2s;
    transition-property: transform;
}
#grid-item-1:hover{
    background-color: whitesmoke;
}
#grid-item-2{
    grid-area: grid-item-2;
    background-color: bisque;
}
#grid-item-3{
    grid-area: grid-item-3;
    background-color: brown;
}
#grid-item-4{
    grid-area: grid-item-4;
    background-color: whitesmoke;
}
#grid-item-5{
    grid-area: grid-item-5;
    background-color: violet;
}

/* .grid-item{
    background-color: rgb(83, 131, 109);
    border: 10px solid whitesmoke;
    padding: 20px;
}
.grid-inner-container{
    display: grid;
    grid-template-columns: 30% auto;
}
.grid-inner-container-2{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}
.grid-item-5{

} */